<ion-view view-title="Más Información">
  <ion-content>

<div class="list card" ng-model="news">

  <div class="item item-text-wrap" id="iteminterno">

    <h2>{{ news[whichartist].title }}</h2>
    <h4>Fuente: <a href="{{ news[whichartist].link }}" id="fuentelink">{{ news[whichartist].link }}</a></h4>
    <p>{{ news[whichartist].pubDate }}</p>
    <p>{{ news[whichartist].author.name }}</p>
  </div>

  <div class="item item-body" prueba>
    <div ng-bind-html="contenidohtml(news[whichartist].description)" id="contenidodeitem"></div>
  </div>

</div>
</ion-content>
</ion-view>