<!-- <ion-header-bar class="bar bar-header bar-balanced">
  <h1 class="title">Notihacks</h1>
</ion-header-bar> -->
<ion-view view-title="Notihacks">
<ion-content>

  <ion-refresher>
  </ion-refresher>
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="search" placeholder="Buscar" ng-model="busqueda">
  </label>
  <ion-list>
    <ion-item ng-repeat="item in news | filter: busqueda" class="item-text-wrap item item-icon-right" href="#/inicio/item/{{item.pubDate}}">
      {{item.title}}
      <i class="icon ion-arrow-right-b"></i>
    </ion-item>
  </ion-list>
</ion-content>
</ion-view view-title="">
